<script type='text/javascript' src='https://gohantrading.ca/apps/wlm/js/wlm-1.1.js'></script>
{% assign wlmEnabled = true %}
{% assign wlmLockON = false %}
{% assign wlmRedirectURL = '' %} 
{% assign wlmPnfHead = '' %} 
{% assign wlmPnfMsg = '' %}
{% assign wlmPwdForm = false %}
{% assign wlmPwdMsg = '' %}
{% assign wlmSuperPage = false %}

{% if template == 'customers/login' or template == 'customers/activate_account' or template == 'customers/reset_password' or canonical_url contains 'challenge' %}

{% unless canonical_url contains '/products/' or canonical_url contains '/collection/' or canonical_url contains '/collections/' or canonical_url contains '/search' %} {% assign wlmSuperPage = true %}
 {% endunless %}{% endif %}

{% capture wlm_check %}{% include 'super_page_access' %}{% endcapture %}{% if wlm_check != 'Liquid error: Could not find asset snippets/super_page_access.liquid' %}{% include 'super_page_access' %}{% endif %}
{% if wlmEnabled %}
<style type="text/css">.wlm-message-pnf{text-align:center;}#wlm-pwd-form {padding: 30px 0;text-align: center}#wlm-wrapper,.wlm-form-holder {display: inline-block}#wlm-pwd-error {display: none;color: #fb8077;text-align: left}#wlm-pwd-error.wlm-error {border: 1px solid #fb8077}#wlm-pwd-form-button {display: inline-block!important;height: auto!important;padding: 8px 15px!important;background: #777;border-radius: 3px!important;color: #fff!important;text-decoration: none!important;vertical-align: top}.wlm-instantclick-fix,.wlm-item-selector {position: absolute;z-index: -999;display: none;height: 0;width: 0;font-size: 0;line-height: 0}</style>

{% assign wlmLockedTags111788 = false %}
{% for tag in customer.tags %}
{% if tag == 'wholesale' %}{% assign wlmLockedTags111788 = true %}{% endif %}
{% endfor %}

{% assign wlmExceptionalURL22262 = false %} {% unless wlmLockON or wlmExceptionalURL22262 or wlmSuperPage or template == 'customers/register' %}
{% assign wlmLockedContent = false %}
{% assign wlmLockedContent = true %}
{% if wlmLockedContent %}
{% unless customer %}
{% assign wlmLockON = true %}
{% capture wlmPnfHead %}Page not found{% endcapture %}
{% capture wlmPnfMsg %}<p>Sorry, we couldn't find this page.</p>{% endcapture %}
{% capture wlmRedirectURL %}login{% endcapture %}
{% else %}
{% unless wlmLockedTags111788 %}{% assign wlmLockON = true %}{% endunless %}
{% if wlmLockON %}
{% capture wlmPnfHead %}Page not found{% endcapture %}
{% capture wlmPnfMsg %}<p>Sorry, we couldn't find this page.</p>{% endcapture %}
{% endif %}
{% else %}
{% assign wlmLockON = true %}
{% capture wlmPnfHead %}Page not found{% endcapture %}
{% capture wlmPnfMsg %}<p>Sorry, we couldn't find this page.</p>{% endcapture %}
{% endunless %}
{% endif %}
{% endunless %}


{% endif %}

{% capture wlm_check_hide %}{% include 'wlm-hideByLink' %}{% endcapture %}{% if wlm_check_hide != 'Liquid error: Could not find asset snippets/wlm-hideByLink.liquid' %}{% include 'wlm-hideByLink' %}{% endif %}

        {% if wlmLockON %}<meta name='robots' content='NOINDEX,NOFOLLOW,NOARCHIVE,NOSNIPPET,NOODP,NOYDIR' />{% endif %}
      <script type='text/javascript'>
      {% if wlmLockON %}
        wlm.navigate('{{ wlmRedirectURL}}');
      {% else %}
        wlm.navigateByLocation();
      {% endif %}
      wlm.jq(document).ready(function(){
        wlm.removeLinks();
      });
    </script>
    {% capture wlm_hide_price_check %}{% include "wlm-hide-price" %}{% endcapture %}
    {% if wlm_hide_price_check != 'Liquid error: Could not find asset snippets/wlm-hide-price.liquid' %}
        {% include "wlm-hide-price" %}
    {% endif %}